.body-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 2.5vw;
    gap: 40px;
    width: calc(100% - max(18%, calc(0px + 2%)));
    background-color: var(--body-primary-color);
    height: auto;
}
