.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.overview-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    padding: 15px 25px;
    gap: 10px;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-container {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 1.1rem;
    font-weight: 600;
}
.sub-title {
    font-size: .8rem;
    opacity: .5;
}
.select-period-container {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 10px;
    height: 70%;
    border-radius: 2px;
    background-color: var(--body-primary-color);
    z-index: 10;
}
.select-period-container i {
    margin-top: 5px;
    cursor: pointer;
    transition: all linear .2s;
}
.period-items {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 99%;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0,0,0,.1);
    /* height: 0px; */
    transition: all linear .1s;
}
.period-items div {
    margin-left: 4px;
    font-size: .8rem;
    opacity: .9;
}
.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.graph-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}
.graph-bar {
    width: 40px;
    height: 180px;
    background-color: #F2F0FE;
    border-radius: 11px;
    align-items: flex-end;
}
.graph-items:nth-of-type(1) .graph-bar{
    height: 100px;
}
.graph-items:nth-of-type(2) .graph-bar{
    height: 80px;
}
.graph-items:nth-of-type(3) .graph-bar{
    height: 160px;
}
.graph-items:nth-of-type(4) .graph-bar{
    height: 120px;
}
.graph-items:nth-of-type(5) .graph-bar{
    height: 140px;
}
.graph-items:nth-of-type(6) .graph-bar{
    height: 70px;
}
.graph-items:nth-of-type(7) .graph-bar{
    height: 160px;
}
.graph-items:nth-of-type(8) .graph-bar{
    height: 180px;
    background-color: #5A32EA;
}
.graph-items:nth-of-type(9) .graph-bar{
    height: 173px;
}
.graph-items:nth-of-type(10) .graph-bar{
    height: 150px;
}
.graph-items:nth-of-type(11) .graph-bar{
    height: 140px;
}
.graph-items:nth-of-type(12) .graph-bar{
    height: 160px;
}
.customers-container {
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 70% - 50px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 20px;
    border-radius: 7px;
}
.customer-header-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.header-subtitle {
    font-size: .8rem;
    opacity: .7;
}
.circle-container {
    align-self: center;
    padding: 30px 30px;
    border: 15px solid #F1EFFC;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.circle-container span {
    font-size: 1.1rem;
    font-weight: 600;
}
.circle-container::before {
    content: '';
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    bottom: -22px;
    right: -20px;
    position: absolute;
    background-color: transparent;
    z-index: 100;
    border: 30px solid #653DEB;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
}
.circle-container::after {
    content: '';
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    bottom: -35px;
    right: -29px;
    position: absolute;
    z-index: 101;
    border: 42px solid transparent;
    border-top-color: #F5399A;
    border-radius: 50%;
    transform: rotate(40deg);
}
@media screen and (max-width: 900px) {
    .graph-container {
        flex-direction: column;
        gap: 10px;
    }
    .graph-items {
        flex-direction: row;
        flex-flow: row-reverse;
    }
    .graph-bar {
        height: 30px;
        width: 180px;
    }
    .overview-container {
        width: auto;
    }
}