:root {
  --sidebar-primary-color: #040440;
  --body-primary-color: #F5F6F8;
}
* {
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-family: 'poppins';
  background-color: var(--body-primary-color);
}
